<ion-content class='start-page' [ngClass]='currentPageClass' (click)='handleClick()'>
  <div *ngIf='state == PageStates.Start' class='page'>
    <h3>Start a session!</h3>
    <button class='start-button' ion-button (click)="startSession()">
      <div class='icon'>
        <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
      </div>
      <div class='title'>Start</div>
    </button>
  </div>
  <div *ngIf='state == PageStates.Tap' class='page'>
    <div class='countdown'>{{countdown}}</div>
  </div>
  <div *ngIf='state == PageStates.Result' class='page'>
    <ion-card>
      <ion-card-header>
        Tap Result:
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-icon name="happy"></ion-icon>
        </div>
        <div>You did</div>
        <div>{{timesClicked}} taps</div>
        <button ion-button (click)="showPage(PageStates.Start)" large>Done!</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>