<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='start-page' [ngClass]='currentPageClass' (click)='handleClick()'>
  <div *ngIf='state == PageStates.Start'>
    <h3>Start a session!</h3>
    <button ion-button (click)="startSession()">Click</button>
  </div>
  <div *ngIf='state == PageStates.Tap'>{{countdown}}</div>
  <div *ngIf='state == PageStates.Result'>
    <h3>Result: {{timesClicked}}</h3>
    <button ion-button (click)="showPage(PageStates.Start)">Go Home</button>
  </div>
</ion-content>